<div class="row justify-content-center">
  <div class="col-8 mt-5">
    <form action="/expense/{{records._id}}/edit?_method=PUT" method="POST">
      <label for="amountType" required>收入/支出</label>
      <select class="form-select" id="amountType" name="amountType" aria-label="Floating label select">
        <option value={{records.amountType}}>{{records.amountType}}</option>
        <optgroup label="選擇收入或是支出"></optgroup>
        <option value="收入">收入</option>
        <option value="支出">支出</option>
      </select>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="name">名稱</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name or Details"
            value="{{records.name}}" required>
        </fieldset>
      </div>
      <label for="date">日期</label>
      <input id="date" name="date" class="form-control" type="date" value="{{records.date}}" required>

      <label for="categoryId">種類</label>
      <select class="form-select" id="categoryId" name="categoryId" aria-label="Floating label select">
        <option value={{records.category_id.categoryId}} selected="selected">{{records.category_id.category}}</option>
        {{#each categories}}
        <option value="{{this.id}}">{{this.category}}</option>
        {{/each}}
      </select>
      <div class="form-group">
        <label class="form-label mt-4" for="amount">金額</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" id="amount" name="amount" value="{{records.amount}}"
              aria-label="Amount" required>
            <span class="input-group-text">TWD</span>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary">儲存</button>
            <a href="/" class="btn btn-dark">返回</a>
          </div>
    </form>
  </div>
</div>