<div class="row">
  <div class="col-md-8 m-auto">
    <div class="card card-body mt-5">
      <h2 class="text-center mt-3">{{user.name}}的 記帳本</h2>
      <div class="form-group">
        <select class="form-select" id="exampleSelect1" onChange="location = this.options[this.selectedIndex].value">
          {{!-- <option value={{records.category_id.category}}>{{#if type}}{{type}}{{else}}全部{{/if}}</option> --}}
          <option {{#unless type}} selected {{/unless}} value="./">全部</option>
          <optgroup label="支出"></optgroup>
          <option {{#if (eq type '家居物業')}} selected {{/if}} value='家居物業'>家居物業</option>
          <option {{#if (eq type '交通出行')}} selected {{/if}} value='交通出行'>交通出行</option>
          <option {{#if (eq type '休閒娛樂')}} selected {{/if}} value='休閒娛樂'>休閒娛樂</option>
          <option {{#if (eq type '餐飲食品')}} selected {{/if}} value='餐飲食品'>餐飲食品</option>
          <option {{#if (eq type '其他')}} selected {{/if}} value='其他'>其他</option>
          <optgroup label="收入"></optgroup>
          <option {{#if (eq type '薪資收入')}} selected {{/if}} value='薪資收入'>薪資收入</option>
          <option {{#if (eq type '額外收入')}} selected {{/if}} value='額外收入'>額外收入</option>
          <option {{#if (eq type '投資收入')}} selected {{/if}} value='投資收入'>投資收入</option>
        </select>
      </div>
      <h1 class="p-2 text-center">Total Amount： {{totalAmount}} $</h1>
      <table class="table table-hover table-striped">
        <thead class="table-primary">
          <tr>
            <th scope="col">類型</th>
            <th scope="col">名稱</th>
            <th scope="col">金額</th>
            <th scope="col">日期</th>
            <th scope="col">收/支</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each records}}
          <tr class="table-active">
            <th scope="row"><i class="fa-solid {{this.category_id.icon}}"
                style="padding-right: 5px;"></i>{{this.category_id.category}}</th>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.date}}</td>
            <td>{{this.amountType}}</td>
            <td class="text-end">
              <a href="/expense/{{this._id}}/edit" class="badge bg-primary text-decoration-none">Edit</a>
              <form action="/expense/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="badge bg-danger text-decoration-none" type="submit">X</button>
              </form>

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/expense/new" class="btn btn-primary"> + 新增明細</a>
    </div>
  </div>
</div>