<div class="row">
  <div class="col-md-8 m-auto">
    <div class="card card-body mt-5">
      <h2 class="text-center mt-3">{{user.name}}的 記帳本</h2>
      {{> message}}
      <div class="form-group">
        <select class="form-select" id="exampleSelect1" onChange="location = this.options[this.selectedIndex].value">
          <option value={{expenseData.category_id.id}}>{{#if directType}}{{directType}}{{/if}}</option>
          <optgroup label="選擇種類"></optgroup>
          <option value=""> 全部</option>
          <option value="收入">收入</option>
          <option value="支出">支出</option>
          <option value= 1>家居物業</option>
          <option value= 2>交通出行</option>
          <option value= 3>休閒娛樂</option>
          <option value= 4>餐飲食品</option>
          <option value= 5>其他</option>
          <option value= 6>薪資收入</option>
          <option value= 7>額外收入</option>
          <option value= 8>投資收入</option>
        </select>
      </div>
      <h1 class="p-2 text-center">Total Amount： {{totalAmount}} $</h1>
      <table class="table table-hover table-striped">
        <thead class="table-primary">
          <tr>
            <th scope="col">類型</th>
            <th scope="col">名稱</th>
            <th scope="col">金額</th>
            <th scope="col">日期</th>
            <th scope="col">收/支</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each expenseData}}
          <tr class="table-active">
            <th scope="row"><i class="fa-solid {{this.category_id.icon}}" style="padding-right: 5px;"></i>{{this.category_id.category}}</th>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.date}}</td>
            <td>{{this.amountType}}</td>
            <td class="text-end">
              <a href="/expense/{{this._id}}/edit" class="badge bg-primary text-decoration-none">Edit</a>
              <form action="/expense/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="badge bg-danger text-decoration-none" type="submit">X</button>
              </form>
              
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/expense/new" class="btn btn-primary"> + 新增明細</a>
    </div>
  </div>
</div>
<!-- all styles of icons (in Font Awesome Classic by default) -->

{{!-- pagination --}}
{{!-- <div class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div> --}}