<div class="row">
  <div class="col-md-8 m-auto">
    <div class="card card-body mt-5">
      <h2 class="text-center mt-3">{{user.name}}的 記帳本</h2>
      <div class="row justify-content-center">
        <form action="/filter" method="POST">
          <select name="filter" id="filter" class="form-select form-select-bg mb-3 mt-5" onchange="this.form.submit()">
            {{#if filters}}
            <option value={{filters.id}} selected="selected">{{filters.category}}</option>
            {{/if}}
            <option value="0">全部類別</option>
            {{#each categories}}
            <option value="{{this.id}}">{{this.category}}</option>
            {{/each}}
          </select>
        </form>
      </div>
      <h1 class="p-2 text-center">Total Amount： {{totalAmount}} $</h1>
      <table class="table table-hover table-striped">
        <thead class="table-primary">
          <tr>
            <th scope="col">類型</th>
            <th scope="col">名稱</th>
            <th scope="col">金額</th>
            <th scope="col">日期</th>
            <th scope="col">收/支</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each records}}
          <tr class="table-active">
            <th scope="row"><i class="fa-solid {{this.category_id.icon}}"
                style="padding-right: 5px;"></i>{{this.category_id.category}}</th>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.date}}</td>
            <td>{{this.amountType}}</td>
            <td class="text-end">
              <a href="/expense/{{this._id}}/edit" class="badge bg-primary text-decoration-none">Edit</a>
              <form action="/expense/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="badge bg-danger text-decoration-none" type="submit">X</button>
              </form>

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/expense/new" class="btn btn-primary"> + 新增明細</a>
    </div>
  </div>
</div>